@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&family=Quicksand:wght@400;500;600&family=Roboto:wght@100&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.white-bg {
  background-color: #ffffff;
}

.pl-20 {
  padding-left: 20px;
}
.pl-0 {
  padding-left: 0px;
}

.pr-20 {
  padding-right: 20px;
}
.pr-100 {
    padding-right: 100px;
  }

.pl-40 {
  padding-left: 40px;
  padding-bottom: 15px;
}

.pt-45 {
  padding-top: 45px;
}
.pt-40 {
  padding-top: 40px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-30 {
  padding-top: 30px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-05 {
  padding-top: 05px;
}
.pt-100 {
  padding-top: 100px;
}


.pb-40 {
  padding-bottom: 40px;
}
.pb-100{
    padding-bottom: 100px;
  }

.pb-60 {
  padding-bottom: 60px;
}

.pt-50 {
  padding-top: 59px;
}

.pt-100 {
  padding-top: 50px;
}

.pb-100 {
  padding-bottom: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-35 {
  margin-bottom: 35px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px 45px;
  background-color: black;
  transition: 0.3s;
}

/* header-top-start */
.heading-top-3.header_top_area {
  border-bottom: none;
}

.header_top_area {
  border-bottom: 1px solid #fbba42;
}

.transparent-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* extra-bar-start */
.extra-bar {
  background: #222;
  color: white;
  width: 400px;
  height: 90%;
  position: fixed;
  right: -100%;
  z-index: 88;
  padding: 30px;
  top: 0;
}

.extra-bar.info-open {
  right: 0;
}

.instagram {
  overflow: hidden;
}

.instagram a {
  width: 33.33%;
  float: left;
}

.instagram img {
  width: 100%;
}

.social_icons-insta {
  padding-top: 20px;
}

.social_icons-insta i {
  border: 1px solid;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
  line-height: 38px;
}

.close-icon button {
  border: none;
  background: none;
  color: #f5bd50;
  font-size: 20px;
  padding: 0px;
  cursor: pointer;
}

.close-icon {
  text-align: right;
  margin-top: -16px;
}

/* extra-bar-end */

.language ul li {
  list-style: none;
  position: relative;
}

.language ul li a {
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.heading-top-3 .language ul li a {
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.language-header-3 ul li a {
  border: 2px solid #ebebeb;
  padding: 15px 30px;
  border-radius: 30px;
}

.socail-icons-3 {
  padding-top: 3px;
}

.socail-icons-3 ul a i {
  color: black;
  font-size: 26px;
  padding-right: 35px;
}

.header-right-3 ul a i {
  margin-bottom: 23px;
}

.transparent-header .language ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #343434;
  padding: 10px;
  display: block;
  text-align: center;
}

i.fa.fa-angle-down {
  padding: 0px 6px;
}

.language ul li ul {
  background: black repeat scroll 0 0;
  position: absolute;
  left: 9px;
  width: 110px;
  transition: 0.3s;
  padding: 7px 3px;
  transition: all 0.3s easy 0s;
  top: 57px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.language ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

.language ul li ul a {
  display: block;
  color: white;
  font-size: 14px;
  padding: 10px 24px;
}

.social_icons {
  position: relative;
}

.social_icons::before {
  position: absolute;
  content: "";
  height: 30px;
  background-color: #efab3b;
  width: 2px;
  top: 17px;
}

.social-header-3 {
  padding: 0px;
  margin: 0px;
}

.social-header-3::before {
  display: none;
}

.social_icons.f-left {
  padding: 20px 20px;
}

.social_icons.f-left i {
  padding-left: 35px;
  font-size: 20px;
  margin-right: -10px;
}

.social_icons .f-left i:hover {
  color: #eeb84b;
}

.logo_image {
  padding: 0px 20px;
}

.header_right.float-xl-right {
  float: right;
  padding: 0px 50px;
}

.header_right.float-xl-right ul a {
  display: inline-block;
  padding-top: 14px;
  font-size: 26px;
  margin-left: 32px;
  color: black;
}

.header_button.f-right a {
  text-decoration: none;
  border: 2px solid black;
  font-size: 14px;
  font-weight: 500;
  padding: 13px 22px;
  color: black;
  display: block;
  border-radius: 40px;
  margin-right: 60px;
  transition: 0.3s;
}

.header_button.f-right a:hover {
  background: #eeb84b;
}

.header_button {
  margin-top: 20px;
  margin-left: 10px;
}

.main-manu.f-right {
  float: right;
}

.header_button.f-right {
  float: right;
}

.main-manu ul li {
  list-style: none;
  display: inline-block;
  padding: 30px 0px;
  position: relative;
  z-index: 2;
}

.main-manu ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
  padding-right: 20px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  padding-top: 10px;
}
.main-manu ul li a:hover {
  color: #eeb84b;
}

.main-manu ul li ul.submenu {
  position: absolute;
  top: 110%;
  background: black;
  left: 0px;
  width: 180px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.main-manu ul li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.main-manu ul li ul.submenu li {
  padding: 0px;
  display: block;
}

.main-manu ul li ul.submenu li a {
  display: block;
  padding: 8px 10px;
  color: white;
}

.main-manu ul li ul.submenu li a:hover {
  color: #efab3b;
}

/* header-top-end */

/* slider-start */
.slider-wapper.slider-wapper-3 {
  padding-left: 0px;
  padding-right: 0px;
}

.slider-wapper {
  padding-left: 75px;
  padding-right: 75px;
  margin-top: -26px;
}

.single-slider {
  background-image: url("../image/img/background.png");
}

.slider-wapper-3 {
  background-image: url("../image/slider/slider1.png");
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-content.slider-content-3 {
  padding-top: 13%;
  padding-right: 255px;
}

.slider-content.slider-content-3 h1 {
  color: white;
  font-size: 62px;
  line-height: 64px;
  padding-bottom: 20px;
}

.slider-content-3.slider-content span {
  font-size: 28px;
  padding-left: 5px;
  letter-spacing: 6px;
  font-weight: 500;
  color: white;
}

.slider-content-3 a.btn {
  border-radius: 33px;
}

.slider-content-3 a.btn:hover {
  background: black;
  color: white;
}

.single-slider.sligle-height {
  min-height: 550px;
}

.slider-img {
  width: 100%;
}

.slider-img img {
  width: 50%;
  padding-top: 20%;
  margin-left: 130px;
}

.slider-content {
  /* padding-top: 32%; */
  margin-left: 130px;
}

.slider-content span {
  font-size: 16px;
  padding-left: 5px;
  letter-spacing: 6px;
  font-weight: 500;
}

.slider-content h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 58px;
  padding-top: 9px;
}

.slider-content p {
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-right: 100px;
}

/* slider-end */

/* Features-start */
.Features-area {
  padding-top: 75px;
}

.Features {
}

.Features-singles {
  text-align: center;
}

.Features-singles h1 {
  font-size: 48px;
  font-weight: 600;
}

.Features-singles h1 span {
  color: #fbba42;
}

.Features-icon {
}

.Features-icon img {
}

.Features-titly {
}

.Features-titly h2 {
  padding-top: 20px;
  font-size: 28px;
  font-weight: 500;
}

.Features-titly p {
  padding: 10px 48px;
}

.Features-single-image {
  padding-top: 20px;
  padding-bottom: 50px;
}

.Features-single-image {
  position: relative;
}

.Features-img {
  background-image: url("../image/img/single_img.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-size: cover;
}

.feature-image img {
  width: 100%;
  padding-top: 74px;
}

.feature-image {
  width: 100%;
}

.single-bg {
  background-color: #f7f7fd;
  margin-left: -14px;
}

.Features-single-titly {
  padding-top: 90px;
  padding-left: 30px;
}

.Features-single-titly h2 {
  font-size: 28px;
  padding-bottom: 5px;
}

.Features-single-titly span {
  font-size: 14px;
  font-family: serif;
}

.Features-single-titly p {
  font-size: 17px;
  padding-top: 15px;
  padding-right: 167px;
  padding-bottom: 27px;
}

.btn.btn-1 {
  margin-left: 30px;
  background: #efab3b;
  color: black;
}

/* Features-end */

/* teams-area-start */
.teams-img {
  position: relative;
}

.teams-img img {
  width: 100%;
}

.teams-img::before {
  position: absolute;
  background: #fac054;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  opacity: 0.8;
  transition: 0.3s;
}

.teams-single-img:hover .teams-img::before {
  height: 100%;
}

.teams-icon {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.teams-single-img:hover .teams-icon {
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
}

.teams-icon i {
  height: 30px;
  width: 30px;
  color: black;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  margin: 0px 2px;
  transition: 0.2s;
  display: inline-block;
}

.teams-icon i:hover {
  background-color: white;
}

.teams-info {
  padding-top: 26px;
  padding-bottom: 22px;
}

/*portfolio-post-start*/

.portfolio-wrapper {
  position: relative;
}

.portfolio-thumb {
  width: 100%;
}

.portfolio-thumb img {
  width: 100%;
}

.portfolio-thumb {
  position: relative;
}

.portfolio-thumb::before {
  position: absolute;
  content: "";
  background: #efab3b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.portfolio-wrapper:hover .portfolio-thumb::before {
  opacity: 0.85;
  visibility: visible;
}

.portfolio-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 30px;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.portfolio-wrapper:hover .portfolio-content {
  opacity: 0.85;
  visibility: visible;
}

.portfolio-content h3 a {
  color: black;
  font-size: 17px;
  font-weight: 500;
}

.portfolio-content p {
  font-size: 17px;
  font-weight: 500;
}

.portfolio-menu.mb-40 {
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  font-size: 17px;
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 6px;
  padding: 10px 20px;
  transition: 0.3s;
}

.portfolio-menu .active {
  background: #efab3b;
}

.portfolio-menu button:hover {
  background: #efab3b;
  color: white;
}

.view-project {
  margin-bottom: 30px;
}

/*portfolio-post-end */

/*country-area-start */
.country-area {
  background-image: url("../image/background/bg_jpeg.jpg");
  margin-top: 80px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  background-size: cover;
}

.country-icon {
  padding-top: 75px;
  padding-bottom: 20px;
}

.country-icon span {
  display: block;
  font-size: 28px;
  font-weight: 500;
  padding-top: 14px;
}

.country-icon p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

/*country-area-end */

/*latest-area-start */
.latest-blog-area {
  padding-top: 75px;
  padding-bottom: 50px;
  margin: 0px;
  margin-top: -50px;
}

.blog-wrapper {
  border: 1px solid;
  padding: 30px;
  overflow: hidden;
  transition: 0.3s;
  margin-left: 20px;
}

.blog-wrapper:hover {
  background: #ffffff;
  transition: 0.3s;
  border: 1px solid transparent;
}

.blog-inner {
  overflow: hidden;
}

.blog-tag a {
  font-size: 14px;
  color: black;
  font-weight: 500;
  padding: 10p;
  display: inline-block;
  background: #fbc155;
  padding: 12px 24px;
  border-radius: 30px;
  line-height: 1;
}

.blog-inner h4 a {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
  line-height: 25px;
}

.blog-inner p {
  color: #777777;
  font-size: 17px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.blog-meta .f-left {
  color: #646464;
  font-size: 14px;
  display: inline-block;
  padding-top: 5px;
}

.blog-meta .f-right i {
  float: right;
  color: #e0e0e0;
  font-size: 15px;
  padding-top: 11px;
}

.blog-more {
  color: black;
  font-size: 14px;
  text-transform: lowercase;
}

/*latest-area-end */

/*testimonial-area-start*/
.testimoinal-area {
  padding-top: 80px;
  padding-bottom: 80px;
}

.testimonial-title h2 {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 7px;
}

.testimonial-title p {
  font-size: 17px;
  color: #7777;
  padding-bottom: 48px;
}

.testimoinal-wrapper {
  border: 1px solid #777777;
  padding: 0px 40px 35px;
  margin-left: 20px;
  margin-top: 80px;
}

.testimoinal-img {
  margin-top: -76px;
  margin-bottom: -3px;
  text-align: center;
  display: inline-block;
}

.client-info p {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 18px;
  color: #777777;
}

.client-info h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}

.client-info span {
  font-size: 14px;
  font-weight: 500;
}

/*testimonial-area-end */

/* cap-start */
.cap-img {
  padding-top: 90px;
  padding-bottom: 33px;
}

/* cap-end */

/*footer-area-start*/
.brand-area {
  padding-left: 0px;
  padding-bottom: 10px;
}

.brand-border {
  border-bottom: 1px solid #eeb84b;
  width: 100%;
  margin-bottom: 33px;
  text-align: -webkit-center;
}

/* .slick-slide img {
    display: block;
    padding-top: 50px;
} */

.single-img {
  padding-top: 40px;
  padding-bottom: 50px;
}

/* <!-- widget-area-start --> */
.widget-area {
}

.footer-widget h4 {
  padding-left: 32px;
  font-size: 28px;
  color: #333333;
  margin-bottom: 25px;
}

.footer-into li {
  list-style: none;
  color: #7777;
  line-height: 30px;
  font-size: 17px;
}

.footer-into li:hover {
  color: #eeb84b;
}

.footer-link li {
  list-style: none;
  width: 50%;
  float: left;
}

.footer-link li a {
  font-size: 17px;
  color: #7777;
  line-height: 30px;
  position: relative;
  padding-left: 20px;
  display: inline-block;
}

.footer-link li a:hover {
  color: #eeb84b;
}

.footer-link li a::before {
  content: "\f0da";
  position: absolute;
  font-family: "FontAwesome";
  top: 0;
  left: 0;
}

.footer-widget p {
  color: #7777;
  font-size: 17px;
  padding: 0px 24px;
}

.footer-widget p:hover {
  color: #f5bd50;
}

.footer-widget input {
  height: 40px;
  width: 100%;
  padding: 0px 15px;
  border: 1px solid #7777;
}

.footer-widget form {
  position: relative;
}

.footer-widget button {
  position: absolute;
  right: 0;
  background-color: #eeb84b;
  height: 100%;
  font-size: 17px;
  font-weight: 600;
  border: 0;
  padding: 0px 15px;
  text-transform: uppercase;
}

.footer-icon {
  padding-top: 25px;
  padding-bottom: 45px;
}

.footer-icon i:hover {
  color: #eeb84b;
}

.footer-icon i {
  font-size: 20px;
  padding-left: 24px;
  transition: 0.3s;
  background: none;
}

/* <!-- widget-area-end --> */
.footer-bottom {
  padding-top: 17px;
  padding-bottom: 26px;
}

.footer-copy h3 {
  font-size: 14px;
  color: #7777;
}

.footer-copy h3:hover {
  color: #efab3b;
}

/*footer-area-end */

.testimoinal-3 {
  padding-top: 16px;
}

.testimoinal-3 i {
  font-size: 52px;
  color: #fbc155;
}

.testimonial-mission {
  padding-top: 80px;
}

.testimonial-mission .accordion-button {
  font-size: 18px;
  font-weight: 600;
  color: black;
  border: none;
  background: none;
}

.testimonial-mission .accordion-button::after {
  height: 0;
}

.testimonial-mission .accordion {
  padding: 0px;
}

.accordion-body {
  font-size: 17px;
  font-weight: 400;
}

.testimonial-mission .accordion {
  --bs-accordion-btn-focus-box-shadow: none;
}

.testimonial-mission .accordion-item {
  border: none;
  background: none;
  text-decoration: none;
}

.testimonial-mission .accordion-item {
  position: relative;
}

.testimonial-mission .accordion-button::before {
  position: absolute;
  content: "-";
  top: 0px;
  right: 0;
  font-size: 48px;
  border: 1px solid #fbc153;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 16px;
  background: #fbc155;
}

.testimonial-mission .accordion-button.collapsed::before {
  position: absolute;
  content: "+";
  top: 0px;
  right: 0;
  font-size: 36px;
  line-height: 20px;
  background: none;
}

/* page-start-area */
.page-title-area {
  background-image: url("../image/background/bg_jpeg.jpg");
  background-size: cover;
  background-position: center;
  height: 430px;
}

.page-title {
  padding-top: 130px;
}

.page-title h2 {
  font-size: 72px;
  font-weight: 600;
  color: #414149;
}

.breadcrumb-item a {
  color: #414149;
  font-size: 18px;
  font-weight: 500;
}

/* page-area-end */

/* teams-box-start-end */
.teams-box {
  padding: 30px;
}

.teams-title {
  padding-top: 17px;
}

.teams-title h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.teams-title span {
  font-size: 17px;
  color: #777777;
  display: block;
  padding-bottom: 7px;
}

.teams-heading h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  padding-top: 40px;
  padding-bottom: 12px;
}

.teams-heading p {
  font-size: 16px;
  color: #777777;
  font-weight: 500;
  padding-bottom: 36px;
}

.teams-social_icons {
  font-size: 14px;
  padding: 4px;
}

.teams-social_icons i {
  line-height: 42px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  background: #f7f7f7;
  color: #3f5666;
  transition: 0.3s;
}

.teams-social_icons i:hover {
  background: #eeb84b;
  border: none;
}

/* teams-box-start-end */

/* country-area-start-about */
.country-area-about {
  padding-top: 24px;
  padding-bottom: 80px;
}

.brand-area-about {
  margin-left: 0px;
}

/* country-area-end-about */

/* service-area-start */
.service-area {
  padding-top: 100px;
  padding-bottom: 40px;
}

.service-box {
  padding: 30px;
  border: 2px solid transparent;
}

.service-box:hover {
  border-color: #f2f2f2;
}

.brand-area-service {
  margin-left: 0px;
}

.service-box i {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #333333;
  background-color: #f2f2f2;
  transition: 0.3s;
  font-size: 24px;
}

.service-box i:hover {
  background-color: #efab3b;
}

.service-box h3 {
  padding-top: 18px;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 3px;
}

/* service-area-end */

/* work-area-start */
.portfolio-post-area-work {
  padding-top: 50px;
}

.country-area-work {
  padding-bottom: 40px;
}

/* work-area-end */

/* work-area-details-start */
.work-details-area {
  padding-top: 70px;
  padding-bottom: 60px;
}

.work-details-title h3 {
  font-size: 28px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 12px;
}

.work-details-title p {
  font-size: 16px;
  line-height: 29px;
}

.work-right-title h3 {
  font-size: 28px;
  font-weight: 600;
  color: #333333;
  padding-top: 21px;
  padding-bottom: 16px;
}

.work-right-title {
  padding: 40px;
}

.work-right-title ul li {
  list-style: none;
  padding-bottom: 10px;
  margin-left: -27px;
}

.work-right-title ul li b {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #808080;
}

.work-right-title ul li span {
  color: #808080;
  font-size: 17px;
  display: block;
  padding-bottom: 10px;
}

.work-right-title ul li :last-child {
  padding-bottom: 0px;
}

.project-details-title h2 {
  padding-bottom: 20px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
}

.project-single-image {
  width: 100%;
}

.project-single-image img {
  width: 100%;
}

.country-area-work-project-Details {
  padding-bottom: 37px;
}

/* work-area-details-end */

/* News-area-details-start */
.new-blog-title h3 {
  font-size: 22px;
  font-weight: padding-top;
  font-weight: 700;
  padding-top: 22px;
}

.new-blog-title span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 20px;
  position: relative;
}

.new-blog-title span::after {
  position: absolute;
  width: 80px;
  height: 2px;
  content: "";
  display: block;
  background: #eeb84b;
  left: 75px;
  top: 29px;
}

.new-blog-title p {
  font-size: 16px;
  line-height: 28px;
  padding-top: 10px;
}

.new-thumb-img {
  width: 100%;
}

.new-thumb-img img {
  width: 100%;
}

.New-blog-pagination {
  padding-top: 10px;
  padding-bottom: 20px;
}

.New-blog-pagination .page-link {
  color: black;
  font-weight: 600;
  margin: 7px;
  border: 0px;
  border-radius: 0px;
  background-color: #ffffff;
  border-color: #ffff;
  width: 40px;
  text-align: center;
}

.New-blog-pagination .page-link:hover {
  background: #efab3b;
  color: black;
}

.New-blog-pagination .pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--bs-link-color);
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: var(--bs-link-hover-color);
  --bs-pagination-hover-bg: var(--bs-tertiary-bg);
  --bs-pagination-hover-border-color: var(--bs-border-color);
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: none;
  --bs-pagination-active-border-color: none;
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  display: flex;
  padding-left: 0;
  list-style: none;
}

.New-blog-pagination .pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--bs-link-color);
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--bs-border-color);
  --bs-pagination-border-radius: var(--bs-border-radius);
  /* --bs-pagination-hover-color: var(--bs-link-hover-color); */
  /* --bs-pagination-hover-bg: var(--bs-tertiary-bg); */
  /* --bs-pagination-hover-border-color: var(--bs-border-color); */
  /* --bs-pagination-focus-color: var(--bs-link-hover-color); */
  /* --bs-pagination-focus-bg: var(--bs-secondary-bg); */
  /* --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); */
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #0d6efd;
  --bs-pagination-active-border-color: #0d6efd;
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: var(--bs-secondary-bg);
  --bs-pagination-disabled-border-color: var(--bs-border-color);
  display: flex;
  padding-left: 0;
  list-style: none;
  background: none;
  border-color: none;
  border: none;
  color: black;
}

.blockquote {
  border-left: 5px solid #ddd;
  padding-left: 15px;
  margin-left: 115px;
  margin-top: 26px;
}
.blockquote .mb-0 {
  font-size: 14px;
  line-height: 25px;
}
.blog-content-text {
    font-size: 14px;
    line-height: 28px;
}

.blog-post-tag {
  padding-top: 50px;
  padding-bottom: 20px;
}
.blog-post-tag a {
  padding: 10px;
  border: 2px solid #e6e6e6;
  font-size: 14px;
  color: #000;
  display: inline-block;
}
.blog-post-tag a:hover {
  background: #efab3b;
  border-color: #efab3b;
}
.blog-share-icon {
  padding-top: 70px;
}
.blog-share-icon i {
  font-size: 15px;
  margin: 0px 8px;
}
.blog-share-icon i:hover {
  color: #efab3b;
}

.blog-content-image1 {
  width: 100%;
}
.blog-content-image1 img {
  width: 100%;
}

/* comments-start */
.post-comments {
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.post-avata-img {
  float: left;
  width: 101px;
}
.post-avata {
  overflow: hidden;
  padding-left: 30px;
}
.avata-name h5 {
  float: left;
  font-size: 14px;
  font-weight: 500;
}
.avata-name span {
  float: right;
  font-size: 12px;
  color: #646464;
  padding-top: 5px;
}
.post-avata p {
  padding-top: 32px;
  font-size: 14px;
  padding-bottom: 7px;
}
.post-avata a {
  color: black;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  padding: 8px 30px;
  text-transform: uppercase;
  background: white;
  display: inline-block;
}
.post-avata a:hover {
  background-color: #efab3b;
  border-color: #efab3b;
}
.comments-reply {
  padding-left: 110px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}
.comments-box {
  margin-bottom: 50px;
}


.leave-section form {
}
.leave-section input {
    height: 45px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 25px;
}
.leave-section textarea {
    height: 140px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 25px;
}
.leave-section button.btn.btn-1 {
    margin-left: 0px;
    margin-bottom: 77px;
    padding: 10px 28px;
}
.leave-section {
    margin-top: -53px;
}
.leave-heading {
    padding-bottom: 15px;
}
.leave-heading h2 {
    font-size: 28px;
    font-weight: 500;
}

/* News-area-details-end */

/* cart-area-start */

.cart-table .cart-name h4 a {
  color: #414149;
  font-size: 17px;
  text-transform: uppercase;
}
.cart-table .cart-price span {
  font-size: 17px;
  color: #777777;
}
.cart-table .nice-select {
  float: none;
  width: 50px;
  margin: auto;
}
.cart-table tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  vertical-align: middle;
  text-align: center;
}
.cart-table .cart-del a {
  color: #444;
  font-size: 17px;
}
.cart-table .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 22px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* .cart-coupond */
.cart-coupond-left input {
  width: 50%;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0px 15px;
}
.cart-coupond-left .cart-btn {
  background: no-repeat;
  border: 0px;
  border: 1px solid #ddd;
  padding: 13px 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: #777777;
  margin-left: 10px;
}
.cart-coupond-left .cart-btn:hover{
  background: #eeb84b;
  border-color: #efab3b;
}
.cart-update a {
  border: 1px solid #ddd;
  padding: 14px 25px;
  margin-right: -24px;
  margin-left: 30px;
  color: #b0b0b3;
  font-size: 16px;
}
.cart-update a:hover{
  background: #efab3b;
  border-color: #efab3b;
  cursor: pointer;
  transition: all ease 0.3s;
  color: #fff;
}
.cart-update {
  padding-top: 14px;
}
.cart-section h4 {
  font-size: 28px;
  font-weight: 500;
  padding-top: 62px;
  padding-left: 68px;
  padding-bottom: 6px;
}
.cart-total-price li {
  border: 1px;
  border-bottom: 1px solid #ddd;
  padding: 14px 19px;
}
.cart-total-price li:last-child{
  border: 0;
}
.cart-total-price span {
  float: right;
}
.cart-total-price ul {
  border: 1px solid #ddd;
  padding: 0;
  width: 474px;
  margin-left: 65px;
}
.cart-coupond-left {
  padding-top: 10px;
}
.cart-update {
  padding-top: 24px;
}
.text-right-btn {
  padding-top: 11px;
}
.text-right-btn .btn.btn-1 {
  font-size: 17px;
  padding: 12px 25px;
  font-family: serif;
}
/* cart-area-end */

/* contact-area-start */
.contact-area {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-form.single-bg {
  margin-left: 0px;
}

.contact-form {
  padding: 46px 40px;
}

.contact-form h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
}

.contact-form input {
  font-size: 13px;
  font-weight: back;
  background: none;
  border: none;
  border-bottom: 1px solid #777777;
  width: 100%;
  margin-bottom: 40px;
  height: 60px;
}

.contact-form textarea {
  background: none;
  border: none;
  height: 80px;
  width: 100%;
  font-size: 13px;
  margin-bottom: 30px;
  border-bottom: 1px solid #cccccc;
  padding-top: 20px;
}

.contact-btn.btn.btn-1 {
  margin-left: 0px;
}

.contact-right-form {
  padding: 39px 40px;
  border: 1px solid #f2f2f2;
}

.contact-right-form span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  display: block;
}

.contact-right-form h3 {
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 50px;
  font-weight: 600;
}

.contact-info h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.addres-info h2 {
  padding-top: 37px;
  font-size: 18px;
  font-weight: 700;
}

.contact-email .contact-meta-info {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

/* contact-area-end */

/* team-area-start */
.why-choose-title {
  padding-top: 100px;
  padding-bottom: 60px;
}

.team-icon i {
  background: #f3bf51;
  font-size: 36px;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.team-title h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}

.job-title {
  padding: 40px 35px;
}

.job-title h2 {
  font-size: 28px;
  font-weight: 600;
  border-bottom: 1px solid #f3bf51;
  padding-bottom: 30px;
  margin-bottom: 33px;
}

.job-title ul {
}

.job-title ul li {
  margin-left: -32px;
  list-style: none;
  margin-bottom: 22px;
}

.job-title ul li a {
  color: #777777;
  font-size: 17px;
  font-weight: 600;
  display: block;
}

.summer-title h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 22px;
}

.summer-title p {
  font-size: 17px;
  line-height: 34px;
  margin-bottom: 50px;
}

.summer-title ul li {
  list-style: none;
  font-size: 17px;
  line-height: 37px;
  font-weight: 500;
  position: relative;
}

.summer-title ul li::before {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #808080;
  content: "";
  background: #fff;
  border-radius: 50%;
  left: -30px;
  top: 16px;
}

.summer-title span {
  display: block;
  padding-top: 60px;
}

.sent-message {
  padding-top: 50px;
}

/* team-area-end */

/* shop-area-start */
.shop-area {
  padding-top: 80px;
  padding-bottom: 80px;
}

.shop-item {
  position: relative;
  border: 1px solid #777777;
}

.shop-warpper:hover .shop-icon {
  opacity: 1;
  visibility: visible;
}

.shop-warpper:hover .shop-item {
  border-color: #efab3b;
}

.shop-item img {
  width: 100%;
}

.shop-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.shop-icon a {
  font-size: 18px;
  color: black;
  width: 50px;
  height: 50px;
  background: #f3bf51;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  transition: 0.3s;
}

.shop-title h4 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 15px;
}

.shop-title span {
  font-size: 16px;
  display: block;
  margin-bottom: 23px;
}

.nice-select {
  border-radius: 0px;
  border: solid 1px #d6d6d6;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
}

.product-filder {
  margin-bottom: 44px;
}

/* shop-area-end */

/* product-tabs-area-start */
.Product-Details-area {
  padding-top: 80px;
  padding-bottom: 70px;
}

.product-tabs {
  width: 70px;
  float: left;
}

.product-zoom-img #myTabContent {
  margin-left: 104px;
}

.product-tabs .nav-link {
  padding: 0px;
  margin-bottom: 30px;
}

.product-tab-title h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}

.rating a {
  color: #efab3b;
  font-size: 15px;
  margin-bottom: 30px;
  display: inline-block;
}

.rating span {
  font-size: 15px;
  font-weight: 700;
  padding-left: 6px;
}

.product-price-tab {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  display: block;
}

.product-tab-title p {
  font-size: 17px;
  line-height: 33px;
  padding-left: 4px;
}

.product-tab-title a {
  font-size: 14px;
  text-transform: uppercase;
}

.product-btn i {
  margin-right: 8px;
}

.btn.btn-1.product-btn {
  margin-left: 0px;
}

.product-flider {
  display: inline-block;
  float: none;
}

.product-tab-title .nice-select {
  border-radius: 0px;
  border: solid 1px #d6d6d6;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  float: left;
  display: inline-block;
  top: 20px;
  margin-left: 13px;
}
.product-zoom-img {
  width: 100%;
}
.product-zoom-img img {
  width: 100%;
}

/* product-tabs-area-end */

/* product-review-area-start */
.product-review {
  padding-top: 50px;
}

.product-review-tabs {
  border-bottom: 1px solid #808080;
}

.product-review-tabs .nav-link {
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 0px;
  padding-bottom: 20px;
}

.product-review-tabs .nav-item {
  margin-right: 65px;
  position: relative;
}

.product-review-tabs .nav-item .active::before {
  bottom: -2px;
  height: 6px;
  width: 100%;
  position: absolute;
  content: "";
  left: 0;
  background-color: #efab3b;
}

.review-content p {
  padding-top: 30px;
  font-size: 17px;
  line-height: 30px;
}

.review-comments-img {
  float: left;
}

.review-single-list h4 {
  font-size: 17px;
}

.review-single-list span {
  color: #cccc;
  font-size: 15px;
}

.review-text {
  margin-left: 30px;
  overflow: hidden;
  display: inline-block;
  padding-top: 10px;
}

.review-single-list {
  margin-top: 40px;
  margin-left: 20px;
}

.review-single-list {
  border-bottom: 1px solid #cccc;
  padding-bottom: 23px;
}

/* product-review-area-end */

/* add-review-area-start */

.review-box {
  margin-top: 110px;
}

.review-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.review-box span {
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 13px;
}

.rating-list {
  display: inline-block;
  margin-left: 10px;
  /* color: black; */
}

.rating-list a {
  color: black;
  font: 15px;
}

.review-box p {
  font-size: 16px;
  font-weight: 500;
  padding-top: 12px;
}

.review-form {
}

.review-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}

.review-form textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #cccc;
  padding: 20px;
  margin-bottom: 25px;
}

.review-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
  padding: 0px 15px;
}

.review-form .btn.btn-1 {
  margin-left: 0px;
}

.section-title-product h2 {
  padding-top: 90px;
  font-size: 28px;
  margin-bottom: 64px;
}

/* add-review-area-end */

/* Sidebar-blog-area-start */
.blog-sidebar-img {
  border-bottom: 1px solid #cccc;
  padding-bottom: 30px;
}

.blog-sidebar-img :last-child {
  border-bottom: 0px;
}

.sidebar-thumb-img {
  width: 100%;
}

.sidebar-thumb-img img {
  width: 100%;
}

.sidebar-blog-title h3 {
  font-size: 36px;
  padding-top: 20px;
  font-weight: 500;
}

.sidebar-blog-title h3:hover {
  color: #efab3b;
}

.sidebar-blog-title a {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

.sidebar-blog-title span {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 25px;
}

.sidebar-blog-title p {
  font-size: 14px;
  line-height: 30px;
}

.cat-blog h3 {
  font-size: 28px;
  padding: 0px 32px;
  margin-bottom: 16px;
  position: relative;
  padding-bottom: 20px;
}

.cat-blog h3:hover {
  color: #eeb84b;
}

.cat-blog h3::before {
  border: 1px solid #f3b94d;
  height: 2px;
  width: 40px;
  left: 35px;
  position: absolute;
  content: "";
  bottom: 0;
  background-color: #efab3b;
}

.cat-title li {
  list-style: none;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.cat-title li a {
  color: black;
  font-size: 16px;
}

.cat-title li a::before {
  content: "\f101";
  font-family: "FontAwesome";
  margin-right: 8px;
  font-size: 11px;
}

.re-post-img {
  float: left;
}

.re-post-content {
  margin-left: 75px;
}

.re-post-content h5 {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0px;
}

.re-post-content h5:hover {
  color: #efab3b;
}

.re-post-content span {
  font-size: 12px;
}

.re-post li {
  margin-bottom: 23px;
}

.re-post li:last-child {
  margin-bottom: 0px;
}

.re-post {
  padding-top: 15px;
}
.banner-blog-img {
  width: 100%;
}
.banner-blog-img img {
  width: 100%;
}

/* tags */
.tags {
  margin-top: 30px;
}

.tags li a {
  border: 1px solid #e6e6e6;
  padding: 10px;
  display: inline-block;
  color: black;
  background: #ffffff;
  font-size: 14px;
}

.tags li a:hover {
  background-color: #eeb84b;
}

.tags li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Sidebar-blog-area-end */
